In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
Bondora =pd.read_csv('Bondora_raw.csv',low_memory=False)

In [3]:
Bondora.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

In [4]:
Bondora.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 112.3+ MB

In [5]:
Bondora.describe

<bound method NDFrame.describe of        ReportAsOfEOD                                LoanId  LoanNumber  \
0         2020-01-27  F0660C80-83F3-4A97-8DA0-9C250112D6EC         659
1         2020-01-27  978BB85B-1C69-4D51-8447-9C240104A3A2         654
2         2020-01-27  EA44027E-7FA7-4BB2-846D-9C1F013C8A22         641
3         2020-01-27  CE67AD25-2951-4BEE-96BD-9C2700C61EF4         668
4         2020-01-27  9408BF8C-B159-4D6A-9D61-9C2400A986E3         652
...              ...                                   ...         ...
134524    2020-01-27  A9C9EF0F-4E79-4930-BA8A-A4130077FCC2      283484
134525    2020-01-27  787345C2-7606-4F72-8FE2-A4170082D77C      285168
134526    2020-01-27  E2D3384D-289A-4B4D-A2DA-A40F00F7C755      281602
134527    2020-01-27  7CC7AB74-995B-4467-958A-A41700F78D59      285431
134528    2020-01-27  3A0DEBF3-292C-4EB4-B71A-A4170157749D      285630

                ListedOnUTC     BiddingStartedOn  BidsPortfolioManager  \
0       2009-06-11 16:40:39  2009-06-11 16:40:39                     0
1       2009-06-10 15:48:57  2009-06-10 15:48:57                     0
2       2009-06-05 19:12:29  2009-06-05 19:12:29                     0
3       2009-06-13 12:01:20  2009-06-13 12:01:20                     0
4       2009-06-10 10:17:13  2009-06-10 10:17:13                     0
...                     ...                  ...                   ...
134524  2015-01-02 16:31:36  2015-01-02 16:31:36                  2515
134525  2015-01-05 16:14:26  2015-01-05 16:14:26                  1880
134526  2015-01-02 14:04:27  2015-01-02 14:04:27                  1975
134527  2015-01-05 16:56:12  2015-01-05 16:56:12                  1840
134528  2015-01-06 11:07:06  2015-01-06 11:07:06                  2990

        BidsApi  BidsManual   UserName  NewCreditCustomer  ...  \
0             0    115.0410       KARU               True  ...
1             0    140.6057   koort681              False  ...
2             0    319.5580        0ie               True  ...
3             0     57.5205     Alyona               True  ...
4             0    319.5582        Kai               True  ...
...         ...         ...        ...                ...  ...
134524        0    485.0000  BO73K5A6A               True  ...
134525        0   1120.0000   BO311A49              False  ...
134526        0    525.0000  BO41K639A               True  ...
134527        0   1160.0000   BO45A925              False  ...
134528        0     10.0000  BO152923A              False  ...

       PreviousEarlyRepaymentsCountBeforeLoan GracePeriodStart GracePeriodEnd  \
0                                           0              NaN            NaN
1                                           0              NaN            NaN
2                                           0              NaN            NaN
3                                           0              NaN            NaN
4                                           0              NaN            NaN
...                                       ...              ...            ...
134524                                      0              NaN            NaN
134525                                      0       2017-06-27     2018-06-20
134526                                      0              NaN            NaN
134527                                      0       2016-04-01     2016-10-03
134528                                      0       2015-09-14     2016-03-14

       NextPaymentDate NextPaymentNr NrOfScheduledPayments  ReScheduledOn  \
0                  NaN           NaN                   NaN            NaN
1                  NaN           NaN                   NaN            NaN
2                  NaN           NaN                   NaN            NaN
3                  NaN           NaN                   NaN            NaN
4                  NaN           NaN                   NaN            NaN
...                ...           ...                   ...            ...
134524             NaN           NaN                   NaN            NaN
134525             NaN           NaN                   NaN            NaN
134526             NaN           0.0                  60.0            NaN
134527             NaN           NaN                   NaN            NaN
134528             NaN           0.0                  60.0     2015-09-09

        PrincipalDebtServicingCost  InterestAndPenaltyDebtServicingCost  \
0                              0.0                                 0.00
1                              0.0                                 0.00
2                              0.0                                 0.00
3                              0.0                                 0.00
4                              0.0                                 0.00
...                            ...                                  ...
134524                         0.0                              1040.06
134525                         0.0                                 0.00
134526                         0.0                              1051.85
134527                         0.0                               889.50
134528                         0.0                               604.80

        ActiveLateLastPaymentCategory
0                                 NaN
1                                 NaN
2                                180+
3                                 NaN
4                                180+
...                               ...
134524                           180+
134525                            NaN
134526                           8-15
134527                          31-60
134528                         91-120

[134529 rows x 112 columns]>

In [6]:
Bondora.shape

(134529, 112)

In [7]:
Bondora['Status'].value_counts()

Current    57135
Late       45772
Repaid     31622
Name: Status, dtype: int64

Percentage of Missing Values

In [8]:
percent_missing = Bondora.isnull().sum() * 100 / len(Bondora)
missing_value_df = pd.DataFrame({'column_name': Bondora.columns,
                                 'percent_missing': percent_missing})

In [9]:
missing_value_df.sort_values('percent_missing', inplace=True)

In [10]:
percent_missing

ReportAsOfEOD                           0.000000
LoanId                                  0.000000
LoanNumber                              0.000000
ListedOnUTC                             0.000000
BiddingStartedOn                        0.000000
                                         ...
NrOfScheduledPayments                  27.310840
ReScheduledOn                          70.027280
PrincipalDebtServicingCost             56.047395
InterestAndPenaltyDebtServicingCost    56.047395
ActiveLateLastPaymentCategory          61.160791
Length: 112, dtype: float64

Removing all the features which have more than 40% missing values

In [11]:
check = Bondora.isnull().sum() / len(Bondora) 

cols = check[check > 0.5].index
list(cols)

['ContractEndDate',
 'NrOfDependants',
 'EmploymentPosition',
 'WorkExperience',
 'PlannedPrincipalTillDate',
 'CurrentDebtDaysPrimary',
 'DebtOccuredOn',
 'CurrentDebtDaysSecondary',
 'DebtOccuredOnForSecondary',
 'DefaultDate',
 'PlannedPrincipalPostDefault',
 'PlannedInterestPostDefault',
 'EAD1',
 'EAD2',
 'PrincipalRecovery',
 'InterestRecovery',
 'EL_V0',
 'Rating_V0',
 'EL_V1',
 'Rating_V1',
 'Rating_V2',
 'ActiveLateCategory',
 'CreditScoreEsEquifaxRisk',
 'CreditScoreFiAsiakasTietoRiskGrade',
 'PrincipalWriteOffs',
 'InterestAndPenaltyWriteOffs',
 'PreviousEarlyRepaymentsBefoleLoan',
 'GracePeriodStart',
 'GracePeriodEnd',
 'NextPaymentDate',
 'ReScheduledOn',
 'PrincipalDebtServicingCost',
 'InterestAndPenaltyDebtServicingCost',
 'ActiveLateLastPaymentCategory']

In [12]:
Bondora.isnull().sum()

ReportAsOfEOD                              0
LoanId                                     0
LoanNumber                                 0
ListedOnUTC                                0
BiddingStartedOn                           0
                                       ...
NrOfScheduledPayments                  36741
ReScheduledOn                          94207
PrincipalDebtServicingCost             75400
InterestAndPenaltyDebtServicingCost    75400
ActiveLateLastPaymentCategory          82279
Length: 112, dtype: int64

In [13]:
Bondora['ReScheduledOn'].isnull().sum()

94207

In [14]:
Bondora_new = Bondora.drop(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'],axis =1)

In [15]:
Bondora_new

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,NaN,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,NaN,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,NaN,NaN
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,NaN,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2020-01-27,A9C9EF0F-4E79-4930-BA8A-A4130077FCC2,283484,2015-01-02 16:31:36,2015-01-02 16:31:36,2515,0,485.0000,BO73K5A6A,True,...,2308.1900,0.0000,0.00,0.00,0,0.0000,0.0000,0,NaN,NaN
134525,2020-01-27,787345C2-7606-4F72-8FE2-A4170082D77C,285168,2015-01-05 16:14:26,2015-01-05 16:14:26,1880,0,1120.0000,BO311A49,False,...,3000.0000,1990.0300,0.00,0.00,1,3000.0000,389.3600,0,NaN,NaN
134526,2020-01-27,E2D3384D-289A-4B4D-A2DA-A40F00F7C755,281602,2015-01-02 14:04:27,2015-01-02 14:04:27,1975,0,525.0000,BO41K639A,True,...,1869.7600,199.3300,630.24,1227.98,0,0.0000,0.0000,0,0.0,60.0
134527,2020-01-27,7CC7AB74-995B-4467-958A-A41700F78D59,285431,2015-01-05 16:56:12,2015-01-05 16:56:12,1840,0,1160.0000,BO45A925,False,...,2257.5400,561.5300,0.00,0.00,1,500.0000,96.8000,0,NaN,NaN
134528,2020-01-27,3A0DEBF3-292C-4EB4-B71A-A4170157749D,285630,2015-01-06 11:07:06,2015-01-06 11:07:06,2990,0,10.0000,BO152923A,False,...,1473.9100,683.2100,1526.09,9019.04,1,2500.0000,242.6400,0,0.0,60.0

drop missing  values columns )

In [16]:
Bondora_new.shape

(134529, 77)

In [17]:
cols_del =['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory']

In [18]:
Bondoranew=Bondora_new

In [19]:
Bondoranew.shape

(134529, 77)

In [20]:
Bondoranew['Status'].unique

<bound method Series.unique of 0         Repaid
1         Repaid
2           Late
3         Repaid
4         Repaid
           ...
134524    Repaid
134525    Repaid
134526      Late
134527    Repaid
134528      Late
Name: Status, Length: 134529, dtype: object>

In [21]:
Bondoranew['Status'].value_counts()

Current    57135
Late       45772
Repaid     31622
Name: Status, dtype: int64

In [22]:
Bondoranew.drop(Bondoranew[Bondoranew['Status'] == 'Current'].index, axis=0, inplace=True)
Bondoranew['Status'].value_counts()

Late      45772
Repaid    31622
Name: Status, dtype: int64

In [23]:
# To display all the columns of dataframe
pd.set_option('display.max_columns', 500)
import warnings
warnings.filterwarnings("ignore")

In [24]:
Bondoranew['Target'] = Bondoranew['DefaultDate'].apply(lambda x: 0 if pd.isnull(x) else 1)

In [25]:
Bondoranew.drop('Status', axis=1, inplace=True)

In [26]:
# check the counts of default and nondefault
Bondoranew['Target'].value_counts()

1    42794
0    34600
Name: Target, dtype: int64

In [27]:
Bondoranew.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,DateOfBirth,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeFromPrincipalEmployer,IncomeFromPension,IncomeFromFamilyAllowance,IncomeFromSocialWelfare,IncomeFromLeavePay,IncomeFromChildSupport,IncomeOther,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,ActiveScheduleFirstPaymentReached,PlannedInterestTillDate,LastPaymentOn,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault,DefaultDate,PrincipalOverdueBySchedule,StageActiveSince,ModelVersion,Rating,Restructured,WorseLateCategory,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,Target
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,2009-06-11 16:40:39,2009-06-16,2009-07-27,2010-06-25,2010-06-25,17,5,2.0,1,61,1947-11-26,1.0,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,7,3.0,1.0,3.0,UpTo3Years,7.0,NaN,6000.0,0.0,0.0,0.0,0.0,0.0,4500.0,10500.0,0,0.0,0,0.0,0.0,25,True,319.0800,2010-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,91-120,NaN,115.0408,20.4222,0.00,0.00,1,83.0852,0.0000,0,NaN,NaN,0
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,2009-06-10 15:48:57,2009-06-15,2009-07-15,2009-07-15,2009-07-15,20,4,2.0,1,48,1960-11-05,1.0,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,7,5.0,4.0,3.0,MoreThan5Years,16.0,NaN,8300.0,0.0,0.0,0.0,0.0,0.0,2500.0,10800.0,0,0.0,0,0.0,0.0,15,True,45.8300,2009-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,140.6057,2.0227,0.00,0.00,2,255.6467,258.6256,0,NaN,NaN,0
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,2009-06-05 19:12:29,2009-06-15,2009-07-27,2011-02-25,2014-05-13,20,6,2.0,1,58,1950-11-13,1.0,EE,319.5582,319.5409,25.0,20,NaN,PÃ„RNU,PÃ„RNU,2,4.0,1.0,3.0,UpTo4Years,9.0,NaN,5000.0,0.0,0.0,0.0,0.0,0.0,2000.0,7000.0,0,0.0,0,0.0,0.0,25,True,197.2926,2012-10-01,NaN,NaN,NaN,NaN,2012-07-16,116.35,2016-03-03 00:00:00,NaN,NaN,True,180+,NaN,203.1909,59.7626,116.35,414.07,0,0.0000,0.0000,0,NaN,NaN,1
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,2009-06-13 12:01:20,2009-06-15,2009-07-15,2010-09-15,2010-09-15,12,7,2.0,1,23,1986-03-29,1.0,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,0,2.0,3.0,NaN,UpTo2Years,1.0,NaN,11000.0,0.0,0.0,0.0,0.0,0.0,600.0,11600.0,0,0.0,0,0.0,0.0,15,True,293.1000,2010-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,31-60,NaN,57.5205,18.7323,0.00,0.00,1,134.2144,0.0000,0,NaN,NaN,0
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,2009-06-10 10:17:13,2009-06-14,2009-07-27,2010-06-25,2010-06-25,10,4,2.0,1,25,1983-09-30,1.0,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,6,4.0,2.0,3.0,UpTo2Years,7.0,NaN,6800.0,0.0,0.0,0.0,0.0,0.0,0.0,6800.0,0,0.0,0,0.0,0.0,25,True,833.8100,2015-07-16,NaN,NaN,NaN,NaN,2009-09-28,NaN,NaN,NaN,NaN,False,180+,NaN,319.5436,220.4200,0.00,0.00,1,146.9966,0.0000,0,NaN,NaN,1

In [28]:
# let's drop the DefaultDate column
Bondoranew.drop(['DefaultDate'], axis=1, inplace=True)

In [29]:
Bondoranew.shape

(77394, 76)

checking datatype of all features
In this step we will see any data type mismatch

In [30]:
Bondora.dtypes

ReportAsOfEOD                           object
LoanId                                  object
LoanNumber                               int64
ListedOnUTC                             object
BiddingStartedOn                        object
                                        ...
NrOfScheduledPayments                  float64
ReScheduledOn                           object
PrincipalDebtServicingCost             float64
InterestAndPenaltyDebtServicingCost    float64
ActiveLateLastPaymentCategory           object
Length: 112, dtype: object

Checking distribution of categorical variables

In [31]:
Bondoranew.select_dtypes(include=["bool", "O","object", ]).describe()

,ReportAsOfEOD,LoanId,ListedOnUTC,BiddingStartedOn,UserName,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,DateOfBirth,Country,County,City,EmploymentDurationCurrentEmployer,ActiveScheduleFirstPaymentReached,LastPaymentOn,StageActiveSince,Rating,Restructured,WorseLateCategory,CreditScoreEsMicroL
count,77394,77394,77394,77394,77394,77394,77394,77394,77394,77394,77394,77394,77394,56879,72350,76520,77394,71782,54203,74666,77394,62106,51208
unique,1,77394,77297,77297,44258,2,77343,3490,2123,3085,3294,16080,4,960,6625,9,2,2888,29132,8,2,9,11
top,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,2017-04-20 09:54:00,2017-04-20 12:54:00,alarlns,True,2018-01-23 12:45:12,2019-07-09,2019-08-05,2024-06-03,2024-06-03,1976-12-19,EE,Harju maakond,Tallinn,MoreThan5Years,True,2020-01-20,2019-02-08 00:00:00,F,False,180+,M
freq,77394,1,4,4,25,48867,3,158,718,381,329,39,39896,8955,6467,29328,77336,1066,841,15657,61885,34784,39217

In [32]:
# write your code here
Bondoranew.select_dtypes(include=["float64", "int64"]).describe()

,LoanNumber,BidsPortfolioManager,BidsApi,BidsManual,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,Gender,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,EmploymentStatus,OccupationArea,HomeOwnershipType,IncomeFromPrincipalEmployer,IncomeFromPension,IncomeFromFamilyAllowance,IncomeFromSocialWelfare,IncomeFromLeavePay,IncomeFromChildSupport,IncomeOther,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,PlannedInterestTillDate,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault,PrincipalOverdueBySchedule,ModelVersion,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,Target
count,7.739400e+04,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,77349.000000,77394.000000,77394.000000,77349.000000,77394.000000,77394.000000,77394.00000,77394.000000,70767.000000,77394.000000,77349.000000,77349.000000,77197.000000,77308.000000,75742.000000,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,7.739400e+04,77394.000000,7.739400e+04,77394.000000,77349.000000,77349.000000,77394.000000,77394.000000,74760.000000,74760.000000,74760.000000,74760.000000,62557.000000,74760.000000,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,77394.000000,58078.000000,77394.000000,40666.000000,40666.000000,77394.000000
mean,7.171263e+05,1221.504303,32.766506,563.032056,13.524963,3.913818,2.849061,3.056529,39.611611,0.418583,2746.981169,2472.673771,40.30165,44.425498,130.393314,1.130979,3.704961,0.410878,0.819553,2.753247,3.370046,714.646035,29.863118,8.703255,3.872031,5.230651,3.613639,71.810131,1.868975e+03,3.350815,7.149255e+02,0.300127,12.011918,195.241403,11.356539,1026.420450,0.178596,0.550223,0.145960,0.280921,445.728513,4.000174,1077.613937,502.770026,1372.262893,1215.017495,1.140799,2172.676382,861.138387,0.077474,1.724930,51.556362,0.552937
std,4.032713e+05,1531.208800,163.557245,821.757218,4.923138,1.695142,1.364773,2.016316,12.188868,0.625625,2463.487043,2163.710046,30.61795,16.412387,131.480383,4.049870,1.138152,1.762825,2.171963,5.678410,2.717713,2301.186553,191.232274,47.248971,47.645160,100.476289,35.379137,599.517504,6.193487e+03,3.494328,4.459142e+04,1.123265,18.829522,848.684590,7.336154,1525.875077,0.138144,0.266511,0.094625,0.162856,949.178121,2.105464,1648.865768,829.168708,1944.295361,3220.010093,2.028045,3889.556046,2076.791326,0.384662,4.677214,11.197909,0.497193
min,3.700000e+01,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,31.955800,6.390000,3.00000,1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,-2332.000000,0.000000,0.000000,0.000000,0.000000,-0.798891,0.000000,0.000000,0.000000,0.000000,0.000000,-34.200000,-2.660000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
25%,4.392332e+05,246.000000,0.000000,19.000000,10.000000,3.000000,1.000000,1.000000,30.000000,0.000000,740.000000,740.000000,23.42000,36.000000,37.975000,-1.000000,3.000000,-1.000000,-1.000000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.900000e+02,1.000000,1.130400e+02,0.000000,0.000000,0.000000,5.000000,124.385000,0.079978,0.459668,0.113640,0.149186,0.000000,2.000000,61.690000,37.450000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.000000,0.000000
50%,7.019365e+05,613.000000,0.000000,283.000000,14.000000,4.000000,4.000000,3.000000,38.000000,0.000000,2125.000000,2020.000000,31.95500,48.000000,101.130000,-1.000000,4.000000,-1.000000,-1.000000,-1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.300000e+03,2.000000,3.830000e+02,0.000000,0.000000,0.000000,10.000000,441.585000,0.145579,0.599315,0.143027,0.269451,72.570000,5.000000,462.810000,191.165000,516.865000,84.805000,0.000000,0.000000,40.815000,0.000000,0.000000,60.000000,1.000000
75%,9.787632e+05,1629.000000,5.000000,745.000000,17.000000,5.000000,4.000000,4.000000,48.000000,1.000000,3720.000000,3185.000000,50.33000,60.000000,175.475000,2.000000,5.000000,2.000000,3.000000,6.000000,4.000000,900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+03,5.000000,7.360000e+02,0.000000,20.810000,269.390000,16.000000,1275.000000,0.242647,0.681751,0.187807,0.394706,401.040000,6.000000,1451.292500,612.415000,2111.980000,1083.985000,1.000000,3000.000000,653.740000,0.000000,0.000000,60.000000,1.000000
max,1.846199e+06,10625.000000,7570.000000,10630.000000,23.000000,7.000000,4.000000,22.000000,77.000000,2.000000,10632.000000,10632.000000,264.31000,60.000000,2368.540000,110.000000,5.000000,5.000000,6.000000,19.000000,10.000000,228400.000000,5038.000000,1375.000000,4551.000000,21300.000000,2500.000000,50000.000000,1.012019e+06,36.000000,1.240000e+07,23.000000,198.020000,158748.640000,28.000000,18054.620000,1.008540,0.950165,0.808546,0.985291,10629.990000,6.000000,10632.000000,14507.240000,10632.000000,64494.770000,24.000000,51104.000000,34077.420000,11.000000,60.000000,72.000000,1.000000

* First we will delete all the features related to date as it is not a time series analysis so these features will not help in predicting target variable.
 * As we can see in numeric column distribution there are many columns which are present as numeric but they are actually categorical as per data description such as Verification Type, Language Code, Gender, Use of Loan, Education, Marital Status,EmployementStatus, OccupationArea etc.
* So we will convert these features to categorical features
  we will check the distribution of different categorical variables

In [33]:
col_to_del=['LoanApplicationStartedDate', 'DateOfBirth', 'PlannedInterestTillDate']

In [34]:
BondoraNew = Bondora_new.drop(col_to_del,axis=1)

In [35]:
BondoraNew['VerificationType'].value_counts()

4.0    41428
1.0    25626
3.0     8460
2.0     1827
0.0        8
Name: VerificationType, dtype: int64

In [36]:
# write your code here for VerificationType
# 0 Not set 
# 1 Income unverified 
# 2 Income unverified, cross-referenced by phone 
# 3 Income verified 
# 4 Income and expenses verified       

Verification_Type = {0 : "Not Set", 1 : "Income Unverified", 2 : "Income Unverified, Cross-Referenced By Phone", 3 : "Income Unverified", 4 : "Income And Expenses Verified"}

BondoraNew['VerificationType'] = BondoraNew['VerificationType'].apply(lambda x: Verification_Type.get(x))
BondoraNew['VerificationType'].value_counts()

Income And Expenses Verified                    41428
Income Unverified                               34086
Income Unverified, Cross-Referenced By Phone     1827
Not Set                                             8
Name: VerificationType, dtype: int64

In [37]:
# write your code here Gender
BondoraNew["Gender"].value_counts()

0.0    50697
1.0    20927
2.0     5725
Name: Gender, dtype: int64

In [38]:
# write your code here
# 0  Male
# 1  Female
# 2 Undefined 

gen_type = {0 : "Male", 1 : "Female", 2 : "Undefined"}
BondoraNew["Gender"] = BondoraNew["Gender"].apply(lambda x: gen_type.get(x))

BondoraNew.Gender = BondoraNew.Gender.astype(str)
BondoraNew["Gender"].value_counts()

Male         50697
Female       20927
Undefined     5725
None            45
Name: Gender, dtype: int64

In [39]:
# write your code here LanguageCode
BondoraNew["LanguageCode"].value_counts()

1     33239
4     20302
6     16407
3      6534
2       603
9       293
22        6
5         5
15        1
10        1
13        1
7         1
21        1
Name: LanguageCode, dtype: int64

* As we can see from above in language code w ehave only descriptions for values 1,2,3,4,5,6, and 9 but it has other values too like 21,22,15,13,10 and 7 but they are very less it may happen they are local language codes whose decription is not present so we will be treated all these values as others

In [40]:
# write your code here

# 1 Estonian 
# 2 English 
# 3 Russian 
# 4 Finnish 
# 5 German 
# 6 Spanish 
# 9 Slovakian

lang_code = {1 : "Estonian", 2 : "English", 3 : "Russian", 4 : "Finnish", 5 : "German", 6 : "Spanish", 9 : "Slovakian"}

BondoraNew["LanguageCode"] = BondoraNew["LanguageCode"].apply(lambda x: "Undefined" if (x not in lang_code) else lang_code.get(x))
BondoraNew["LanguageCode"].value_counts()

Estonian     33239
Finnish      20302
Spanish      16407
Russian       6534
English        603
Slovakian      293
Undefined       11
German           5
Name: LanguageCode, dtype: int64

In [41]:
# write your code here for UseOfLoan
BondoraNew["UseOfLoan"].value_counts()

-1      44177
 7       8926
 2       8102
 0       6419
 6       2884
 3       1743
 5       1621
 8       1367
 4       1259
 1        843
 102       21
 110       17
 104        6
 101        5
 107        2
 108        1
 106        1
Name: UseOfLoan, dtype: int64

* As we can see from above stats most of the loans are -1 category whose description is not avaialble in Bondoro website so we have dig deeper to find that in Bondora most of the loans happened for which purpose so we find in Bondora Statistics Page most of the loans around 34.81% are for Not set purpose. so we will encode -1 as Not set categor

In [42]:
# write your code here
# 0 Loan consolidation 
# 1 Real estate 
# 2 Home improvement 
# 3 Business 
# 4 Education 
# 5 Travel 
# 6 Vehicle 
# 7 Other 
# 8 Health 
# 101 Working capital financing 
# 102 Purchase of machinery equipment 
# 103 Renovation of real estate 
# 104 Accounts receivable financing 
# 105 Acquisition of means of transport 
# 106 Construction finance 
# 107 Acquisition of stocks 
# 108 Acquisition of real estate 
# 109 Guaranteeing obligation 
# 110 Other business 
# All codes in format 1XX are for business loans that are not supported since October 2012

loan_use = {-1 : "Not Set", 0 : "Loan Consolidation", 1 : "Real Estate", 2 : "Home Improvement", 3 : "Business", 4 : "Education", 5 : "Travel", 6 : "Vehicle", 7 : "Other", 8 : "Health",
            101 : "Working Capital Financing", 102 : "Purchase Of Machinery Equipment", 103 : "Renovation of Real Estate", 104 : "Accounts Receivable Financing", 105 : "Aqquisition of Means of Transport",
            106 : "Construction Finance", 107 : "Aqquisition of Stocks", 108 : "Aqquisition of Means Of Transport", 109 : "Guarenteeing Obligation", 110 : "Other Business"}

BondoraNew["UseOfLoan"] = BondoraNew["UseOfLoan"].apply(lambda x: loan_use.get(x))
BondoraNew["UseOfLoan"].value_counts()

Not Set                              44177
Other                                 8926
Home Improvement                      8102
Loan Consolidation                    6419
Vehicle                               2884
Business                              1743
Travel                                1621
Health                                1367
Education                             1259
Real Estate                            843
Purchase Of Machinery Equipment         21
Other Business                          17
Accounts Receivable Financing            6
Working Capital Financing                5
Aqquisition of Stocks                    2
Aqquisition of Means Of Transport        1
Construction Finance                     1
Name: UseOfLoan, dtype: int64

In [43]:
# write your code here for Education
BondoraNew["Education"].value_counts()

 4.0    28557
 5.0    20919
 3.0    17257
 2.0     5379
 1.0     5226
 0.0        8
-1.0        3
Name: Education, dtype: int64

* Again as we can see from above description for -1 and 0 in case of education is not present so we will encode them as Not_present as we dont know anything about them.

In [44]:
# write your code here
# 1 Primary education 
# 2 Basic education 
# 3 Vocational education 
# 4 Secondary education 
# 5 Higher education

edu_type = {1 : "Primary Education", 2 : "Basic Education", 3 : "Vocational Education", 4 : "Secondary Education", 5 : "Higher Education"}
BondoraNew["Education"] = BondoraNew["Education"].apply(lambda x: "Not Present" if x not in edu_type else edu_type.get(x))

BondoraNew["Education"].value_counts()

Secondary Education     28557
Higher Education        20919
Vocational Education    17257
Basic Education          5379
Primary Education        5226
Not Present                56
Name: Education, dtype: int64

In [45]:
# write your code here for MaritalStatus
BondoraNew["MaritalStatus"].value_counts()

-1.0    44177
 3.0    11504
 1.0     9585
 2.0     8479
 4.0     3077
 5.0      519
 0.0        8
Name: MaritalStatus, dtype: int64

In [46]:
# write your code here for EmploymentStatus
BondoraNew["EmploymentStatus"].value_counts()

-1.0    44177
 3.0    27309
 5.0     1695
 6.0     1663
 4.0     1211
 2.0     1110
 0.0       32
Name: EmploymentStatus, dtype: int64

In [47]:
# write your code here 
# 1 Unemployed 
# 2 Partially employed 
# 3 Fully employed 
# 4 Self-employed 
# 5 Entrepreneur 
# 6 Retiree

employe_status = {1 : "Unemployed", 2 : "Partially Employed", 3 : "Fully Employed", 4 : "Self Employed", 5 : "Entrepreneur", 6 : "Retiree"}
BondoraNew["EmploymentStatus"] = BondoraNew["EmploymentStatus"].apply(lambda x: "Not Specified" if x not in employe_status else employe_status.get(x))

BondoraNew["EmploymentStatus"].value_counts()

Not Specified         44406
Fully Employed        27309
Entrepreneur           1695
Retiree                1663
Self Employed          1211
Partially Employed     1110
Name: EmploymentStatus, dtype: int64

In [48]:
# write your code here for NewCreditCustomer
BondoraNew["NewCreditCustomer"].value_counts()

True     48867
False    28527
Name: NewCreditCustomer, dtype: int64

In [49]:
# write your code here
# 0 Customer had at least 3 months of credit history in Bondora 
# 1 No prior credit history in Bondora

BondoraNew["NewCreditCustomer"] = BondoraNew["NewCreditCustomer"].apply(lambda x: "Atleast 3 Months of Credit History" if x == False else "No Prior Credit History")
BondoraNew["NewCreditCustomer"].value_counts()

No Prior Credit History               48867
Atleast 3 Months of Credit History    28527
Name: NewCreditCustomer, dtype: int64

In [50]:
# write your code here for Restructured
BondoraNew["Restructured"].value_counts()

False    61885
True     15509
Name: Restructured, dtype: int64

In [51]:
# write your code here 
# 1 The original maturity date of the loan has been increased by more than 60 days
# 0 The original maturity date of the loan has not been increased by more than 60 days

BondoraNew["Restructured"] = BondoraNew["Restructured"].apply(lambda x: "Original Maturity Date Increased by >60 Days" if x == False else "Original Maturity Date Has Not Been Increased by >60 Days")
BondoraNew["Restructured"].value_counts()

Original Maturity Date Increased by >60 Days                 61885
Original Maturity Date Has Not Been Increased by >60 Days    15509
Name: Restructured, dtype: int64

In [52]:
# write your code here for OccupationArea
BondoraNew["OccupationArea"].value_counts()

-1.0     44228
 1.0      7640
 7.0      3207
 6.0      3007
 3.0      2876
 8.0      2276
 17.0     2186
 9.0      2106
 10.0     1782
 15.0     1555
 16.0     1251
 11.0     1054
 19.0      893
 14.0      798
 4.0       530
 18.0      524
 13.0      493
 12.0      433
 5.0       342
 2.0       116
 0.0        11
Name: OccupationArea, dtype: int64

In [53]:
# write your code here
# 1 Other 
# 2 Mining 
# 3 Processing 
# 4 Energy 
# 5 Utilities 
# 6 Construction 
# 7 Retail and wholesale 
# 8 Transport and warehousing 
# 9 Hospitality and catering 
# 10 Info and telecom 
# 11 Finance and insurance 
# 12 Real-estate 
# 13 Research 
# 14 Administrative 
# 15 Civil service & military 
# 16 Education 
# 17 Healthcare and social help 
# 18 Art and entertainment 
# 19 Agriculture, forestry and fishing

occup_area = {1 : "Other", 2 : "Mining", 3 : "Processing", 4 : "Energy", 5 : "Utilities", 6 : "Construction", 7 : "Retail and Wholesale", 8 : "Transport and Warehousing", 9 : "Hospitality and Catering", 10 : "Info and Telecom",
              11 : "Finance and Insurance", 12 : "Real Estate", 13 : "Research", 14 : "Administrative", 15 : "Civil Service and Military", 16 : "Education", 17 : "Healthcare and Social Help", 18 : "Art and Entertainment", 19 : " Agritculture, Forestory and Fishing"}

BondoraNew["OccupationArea"] = BondoraNew["OccupationArea"].apply(lambda x: "Not Specified" if x not in occup_area else occup_area.get(x))

BondoraNew["OccupationArea"].value_counts()

Not Specified                           44325
Other                                    7640
Retail and Wholesale                     3207
Construction                             3007
Processing                               2876
Transport and Warehousing                2276
Healthcare and Social Help               2186
Hospitality and Catering                 2106
Info and Telecom                         1782
Civil Service and Military               1555
Education                                1251
Finance and Insurance                    1054
 Agritculture, Forestory and Fishing      893
Administrative                            798
Energy                                    530
Art and Entertainment                     524
Research                                  493
Real Estate                               433
Utilities                                 342
Mining                                    116
Name: OccupationArea, dtype: int64

In [54]:
# write your code here for counts of HomeOwnershipType
BondoraNew["HomeOwnershipType"].value_counts()

 1.0     24594
 3.0     16842
 2.0     12776
 8.0      8762
 4.0      4031
 10.0     3179
 7.0      2701
 6.0      1362
 5.0       882
 9.0       565
 0.0        46
-1.0         2
Name: HomeOwnershipType, dtype: int64

In [55]:
# write your code here
# 0 Homeless 
# 1 Owner 
# 2 Living with parents 
# 3 Tenant, pre-furnished property 
# 4 Tenant, unfurnished property 
# 5 Council house 
# 6 Joint tenant 
# 7 Joint ownership 
# 8 Mortgage 
# 9 Owner with encumbrance 
# 10 Other

home_ownership = {0 : "Homeless", 1 : "Owner", 2 : "Living with Parents", 3 : "Tenant, Pre-Furnished Property", 4 : "Tenant, Unfurnished Property", 5 : "Council House",
                  6 : "Joint Tenant", 7 : "Joint Ownership", 8 : "Mortage", 9 : "Owner With Encumberance", 10 : "Other"}

BondoraNew["HomeOwnershipType"] = BondoraNew["HomeOwnershipType"].apply(lambda x: "Not Specified" if x not in home_ownership else home_ownership.get(x))

BondoraNew["HomeOwnershipType"].value_counts()

Owner                             24594
Tenant, Pre-Furnished Property    16842
Living with Parents               12776
Mortage                            8762
Tenant, Unfurnished Property       4031
Other                              3179
Joint Ownership                    2701
Not Specified                      1654
Joint Tenant                       1362
Council House                       882
Owner With Encumberance             565
Homeless                             46
Name: HomeOwnershipType, dtype: int64

In [56]:
# save the final data
BondoraNew.to_csv(r'C:\Users\Administrator\Documents\new.csv')